@using EPiServer.Framework.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage<string>

@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title>
        Search Users
    </title>
    <!-- Mimic Internet Explorer 7 -->
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <link href="../../../App_Themes/Default/Styles/system.css" type="text/css" rel="stylesheet">
    
    @Html.CssLink(EPiServer.Shell.Paths.ToClientResource("Shell", "ClientResources/epi/themes/legacy/ShellCore.css"))
    @Html.CssLink(EPiServer.Shell.Paths.ToClientResource("Shell", "ClientResources/epi/themes/legacy/ShellWidgetsLightTheme.css"))
    <style>
        iframe.episystemiframe {
            height: calc(100% - 25px);
            margin-top: 10px;
        }
    </style>
</head>
<body id="body">
<span style="position: absolute; margin: 5px;">
    You are viewing this page as <b>@Model.</b> Click <a href="@Url.Action("Index", "RevertImpersonation")" style="text-decoration: underline;">here</a> to stop impersonating this user.
</span>
<br/>
<iframe src="/" frameborder="0" class="episystemiframe"/>
</body>
</html>