<?xml version="1.0" encoding="utf-8"?>

<module loadFromBin="false" viewEngine="Razor">
  <assemblies>
    <add assembly="Verndale.ImpersonateUsers" />
  </assemblies>

  <routes>
    <route controllerPrefix="Verndale">
      <defaults>
        <add key="controller" value="ImpersonateUsers" />
        <add key="action" value="Index" />
        <add key="id" value="" />
      </defaults>
    </route>
  </routes>
</module>
